@using Blognet.Cms.Domain.Enum;
@using Blognet.Cms.Core.PageForwards.Models;
@model PageForwardDetailViewModel
@{
    ViewData["Title"] = "Page Forward - Update";
}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Update page forward</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
</div>


<div class="pb-5">
    @using (Html.BeginForm("Update", "PageForward", FormMethod.Post, new { @class = "form" }))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.ProjectId)

        @Html.ValidationMessageFor(m => m.Mask)
        @Html.LabelFor(m => m.Mask)
        @Html.TextBoxFor(m => m.Mask, new { @class = "form-control" })

        @Html.ValidationMessageFor(m => m.DestinationUrl)
        @Html.LabelFor(m => m.DestinationUrl)
        @Html.TextBoxFor(m => m.DestinationUrl, new { @class = "form-control" })

        @Html.ValidationMessageFor(m => m.SourceId)
        @Html.LabelFor(m => m.SourceId)
        @Html.TextBoxFor(m => m.SourceId, new { @class = "form-control" })

        @Html.LabelFor(m => m.Type)
        @Html.DropDownListFor(m => m.Type, Html.GetEnumSelectList<PageForwardSourceType>(), "Type", new { @class = "form-control" })

        <input type="submit" value="Submit" class="btn btn-success mt-5 col-lg-12" />
    }
</div>