@{
    ViewData["Title"] = "Login";
    Layout = "";
}

@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.CodeAnalysis.Classification
@using Microsoft.CodeAnalysis.CSharp.Syntax
@model Web.Areas.Account.ViewModels.UserLoginViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"] - CMS</title>


    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>

<body class="text-center">
    <!--
    <form class="form-signin">
    </form>
    -->

    @using (Html.BeginForm("SignIn", "User", FormMethod.Post, new { @class = "form-signin" }))
    {
        <h3>Login</h3>
        <p>@ViewData["message"]</p>

        @Html.ValidationMessage("error")


        @Html.ValidationMessageFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control mt-1" })
        <input type="submit" value="Sign in" class="form-control btn btn-primary" />
    }

    <script src="~/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/popper.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/feather.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>

</body>
</html>




