@using Core.Entities;
@using Web.Areas.Cms.ViewModels.Articles
@using Core.Extensions;
@using Core.Enum;

@using Web.Areas.Web.ViewModels.PageForwards
@model PageForwardViewModel
@{
    ViewData["Title"] = "Page forwards";
}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Page Forwards</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="@Url.Action("Create")" class="btn btn-sm btn-success">Create</a>
    </div>
</div>

<div>
    <table class="table top-borderless">
        <thead>
            <tr>
                <th>ID</th>
                <th>Mask</th>
                <th>DestinationUrl</th>
                <th>SourceId</th>
                <th>Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (PageForward forward in Model.Forwards)
            {
                <tr>
                    <td>@forward.Id</td>
                    <td>@forward.Mask</td>
                    <td>@forward.DestinationUrl</td>
                    <td>@forward.SourceId</td>
                    <td>@(DescriptionExtension.GetDescription<PageForwardSourceType>(forward.Type))</td>
                    <td>
                        <a href="@Url.Action("Update", "PageForward", new { area = "Web", id = forward.Id})" class="btn btn-sm btn-warning">Update</a>
                        <a href="@Url.Action("Delete", "PageForward", new { area = "Web", id = forward.Id})" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
</table>
</div>