@using Blognet.Cms.WebAdmin.Areas.Account.ViewModels;
@{
    ViewData["Title"] = "Project";
}

@using Blognet.Cms.Core.Projects.Models
@model ProjectDetailViewModel

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Update project</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
</div>

<div>
    @using (Html.BeginForm("Update", "Project", FormMethod.Post, new { @class = "form" }))
    {
        @Html.HiddenFor(m => m.Id);

        @Html.ValidationMessageFor(m => m.Name);
        @Html.LabelFor(m => m.Name);
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" });

        @Html.ValidationMessageFor(m => m.DomainName);
        @Html.LabelFor(m => m.DomainName);
        @Html.TextBoxFor(m => m.DomainName, new { @class = "form-control" });

        @Html.ValidationMessageFor(m => m.Description);
        @Html.LabelFor(m => m.Description);
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" });

        <h3 class="mt-3">Setttings</h3>
        <hr />

        <div class="row">

            @Html.HiddenFor(m => m.ProjectSettings.ProjectId)
            @Html.HiddenFor(m => m.ProjectSettings.Id)

            <div class="col-lg-3">
                @Html.LabelFor(m => m.ProjectSettings.ArticleThumbnailWidth)
                @Html.TextBoxFor(m => m.ProjectSettings.ArticleThumbnailWidth, new { @class = "form-control" })
            </div>
            <div class="col-lg-3">
                @Html.LabelFor(m => m.ProjectSettings.ArticleThumbnailHeight)
                @Html.TextBoxFor(m => m.ProjectSettings.ArticleThumbnailHeight, new { @class = "form-control" })
            </div>
            <div class="col-lg-3">
                @Html.LabelFor(m => m.ProjectSettings.ArticleHeaderWidth)
                @Html.TextBoxFor(m => m.ProjectSettings.ArticleHeaderWidth, new { @class = "form-control" })
            </div>
            <div class="col-lg-3">
                @Html.LabelFor(m => m.ProjectSettings.ArticleHeaderHeight)
                @Html.TextBoxFor(m => m.ProjectSettings.ArticleHeaderHeight, new { @class = "form-control" })
            </div>
        </div>


        <br />
        <input type="submit" value="Create" class="btn btn-success" />
    }
</div>




