@using Blognet.Cms.Domain.Enum;
@using Blognet.Cms.Core.TemplateVariables.Models;
@model TemplateVariableDetailViewModel
@{
    ViewData["Title"] = "Template variable - Create";
}

@section Head {
    <link rel="stylesheet" href="~/plugins/codemirror/css/codemirror.min.css" />
    <link rel="stylesheet" href="~/plugins/froala-editor/css/froala-editor.min.css" />
    <link rel="stylesheet" href="~/plugins/froala-editor/css/froala-style.min.css" />
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Update template variable</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
</div>


<div class="pb-5">

    @using (Html.BeginForm("Update", "TemplateVariable", FormMethod.Post, new { @class = "form" }))
    {
        @Html.HiddenFor(m => m.ProjectId);
        @Html.HiddenFor(m => m.Id);

        @Html.ValidationMessageFor(m => m.ParentTemplateVariableId);
        @Html.LabelFor(m => m.ParentTemplateVariableId);
        @Html.DropDownListFor(m => m.ParentTemplateVariableId, new SelectList(Model.Variables, "Id", "TemplateVariableTree"), "Parent variable", new { @class = "form-control" });

        @Html.ValidationMessageFor(m => m.Label)
        @Html.LabelFor(m => m.Label)
        @Html.TextBoxFor(m => m.Label, new { @class = "form-control" })

        @Html.ValidationMessageFor(m => m.Content)
        @Html.LabelFor(m => m.Content)
        @Html.TextAreaFor(m => m.Content, new { @class = "form-control content" })

        @Html.LabelFor(m => m.Type)
        @Html.DropDownListFor(m => m.Type, Html.GetEnumSelectList<ProjectVariableType>(), "Type", new { @class = "form-control" })

        <div class="row">
            <div class="col-lg-2 pt-3">
                @Html.LabelFor(m => m.ShowRaw)
                @Html.CheckBoxFor(m => m.ShowRaw, new { @class = "checkbox" })
            </div>
        </div>

        <input type="submit" value="Submit" class="btn btn-success mt-5 col-lg-12" />
    }
</div>

@section Scripts {
    <script type="text/javascript" src="~/plugins/codemirror/js/codemirror.min.js"></script>
    <script type="text/javascript" src="~/plugins/codemirror/js/xml.min.js"></script>
    <script type="text/javascript" src="~/plugins/froala-editor/js/froala-editor.min.js"></script>

    <script>
        $(function () {
            $('.content').froalaEditor({
                heightMin: 200
            })
        });
    </script>
}