@using Web.Areas.Account.ViewModels;
@{
    ViewData["Title"] = "Project";
}

@using Web.Areas.Account.ViewModels.Projects
@model ProjectCreateViewModel

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Submit project</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
</div>

<div>
    @using (Html.BeginForm("Create", "Project", FormMethod.Post, new { @class = "form" }))
    {
        @Html.ValidationMessageFor(m => m.Name);
        @Html.LabelFor(m => m.Name);
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" });

        @Html.ValidationMessageFor(m => m.DomainName);
        @Html.LabelFor(m => m.DomainName);
        @Html.TextBoxFor(m => m.DomainName, new { @class = "form-control" });

        <br />
        <input type="submit" value="Create" class="btn btn-success" />
    }
</div>




