@using Blognet.Cms.Domain.Extensions;
@using Blognet.Cms.Domain.Enum;
@using Blognet.Cms.Core.Model;
@model List<Blognet.Cms.Core.Model.AlbumDTO>
@{
    ViewData["Title"] = "Album";
}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Album</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="@Url.Action("Create")" class="btn btn-sm btn-success">Create</a>
    </div>
</div>

<div>
    <table class="table top-borderless">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>NameNormalized</th>
                <th>Type</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (AlbumDTO album in Model)
            {
                <tr>
                    <td>@album.Id</td>
                    <td>@album.Name</td>
                    <td>@album.NameNormalized</td>
                    <td>@(DescriptionExtension.GetDescription<AlbumType>(album.Type))</td>
                    <td>
                        <a href="@Url.Action("ToggleStatus", "Album", new { area = "Cms", id = album.Id})" class="@(album.Status == Status.Inactive ? "badge badge-warning" : "badge badge-success" )">
                            @(DescriptionExtension.GetDescription<Status>(album.Status))
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("Update", "Album", new { area = "Cms", id = album.Id})" class="btn btn-sm btn-warning">Update</a>
                        <a href="@Url.Action("Album", "Photo", new { area = "Cms", id = album.Id})" class="btn btn-sm btn-primary">View</a>
                        <a href="@Url.Action("Delete", "Album", new { area = "Cms", id = album.Id})" class="btn btn-sm btn-danger btn-delete">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
</table>
</div>